.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.960938;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:1.039878px;}
._0{width:2.099634px;}
._2{width:55.700000px;}
.fc1{color:rgb(128,128,128);}
.fc2{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:36.000000px;}
.fs1{font-size:56.000000px;}
.fs2{font-size:96.000000px;}
.fs4{font-size:98.000000px;}
.fs3{font-size:148.000000px;}
.fs0{font-size:160.000000px;}
.y0{bottom:0.000000px;}
.y3{bottom:7.315424px;}
.y13{bottom:64.263092px;}
.y12{bottom:93.063110px;}
.y11{bottom:127.863129px;}
.y10{bottom:156.663147px;}
.yf{bottom:191.463165px;}
.y7{bottom:193.971909px;}
.y6{bottom:222.771912px;}
.ye{bottom:226.263168px;}
.y18{bottom:229.504681px;}
.y17{bottom:240.304684px;}
.y16{bottom:251.104687px;}
.yd{bottom:261.063171px;}
.y15{bottom:261.904686px;}
.y5{bottom:270.579910px;}
.y14{bottom:272.704686px;}
.y4{bottom:299.379910px;}
.yc{bottom:330.663177px;}
.yb{bottom:359.463181px;}
.y2{bottom:379.393402px;}
.ya{bottom:394.263176px;}
.y9{bottom:423.063175px;}
.y1{bottom:427.393402px;}
.y8{bottom:492.639034px;}
.y19{bottom:492.639114px;}
.h7{height:26.208984px;}
.h2{height:40.769531px;}
.h6{height:69.890625px;}
.h5{height:71.346680px;}
.h3{height:73.406250px;}
.h4{height:107.748047px;}
.h1{height:116.484375px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x8{left:83.558502px;}
.x1{left:141.409668px;}
.x2{left:156.909668px;}
.x9{left:253.599838px;}
.x5{left:261.641785px;}
.x6{left:499.054382px;}
.x7{left:521.554382px;}
.x4{left:542.867554px;}
.x3{left:940.555298px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:1.386504pt;}
._0{width:2.799512pt;}
._2{width:74.266667pt;}
.fs5{font-size:48.000000pt;}
.fs1{font-size:74.666667pt;}
.fs2{font-size:128.000000pt;}
.fs4{font-size:130.666667pt;}
.fs3{font-size:197.333333pt;}
.fs0{font-size:213.333333pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:9.753899pt;}
.y13{bottom:85.684123pt;}
.y12{bottom:124.084147pt;}
.y11{bottom:170.484172pt;}
.y10{bottom:208.884196pt;}
.yf{bottom:255.284220pt;}
.y7{bottom:258.629211pt;}
.y6{bottom:297.029215pt;}
.ye{bottom:301.684224pt;}
.y18{bottom:306.006241pt;}
.y17{bottom:320.406245pt;}
.y16{bottom:334.806249pt;}
.yd{bottom:348.084229pt;}
.y15{bottom:349.206248pt;}
.y5{bottom:360.773214pt;}
.y14{bottom:363.606248pt;}
.y4{bottom:399.173213pt;}
.yc{bottom:440.884237pt;}
.yb{bottom:479.284241pt;}
.y2{bottom:505.857869pt;}
.ya{bottom:525.684235pt;}
.y9{bottom:564.084234pt;}
.y1{bottom:569.857869pt;}
.y8{bottom:656.852046pt;}
.y19{bottom:656.852153pt;}
.h7{height:34.945312pt;}
.h2{height:54.359375pt;}
.h6{height:93.187500pt;}
.h5{height:95.128906pt;}
.h3{height:97.875000pt;}
.h4{height:143.664062pt;}
.h1{height:155.312500pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x8{left:111.411336pt;}
.x1{left:188.546224pt;}
.x2{left:209.212891pt;}
.x9{left:338.133118pt;}
.x5{left:348.855713pt;}
.x6{left:665.405843pt;}
.x7{left:695.405843pt;}
.x4{left:723.823405pt;}
.x3{left:1254.073730pt;}
}
